:root {
	/* Global colors used through the whole project */
	--accent: rgb(243, 91, 192);
	--accent-transparent: rgba(243, 91, 192, 0.5);
	--color: rgb(219, 219, 219);
	--background: #1d1d1d;
	--dim-color: rgba(130, 130, 130, 0.2);

	/* Rounded edges for common elements */
	--border-radius: 4px;

	/* Keyboard focus color */
	--focus: rgb(73, 251, 73);

	/* Global padding */
    --padding: 2rem;

	/* Lobotomized owl selector for margins between elements,
	   defaults to 0 since it creates problems with flexbox-based responsive desings	*/
	--owl: 2.5rem;

	/* Addition (or substraction) to the global font size. 
	   Can be assigned negative values, although it's not recommended since
	   it can make fonts-size-s below 0, thus making them invisible 
	   
	   The default -.2em is safe enough
	   */
	--font-scaling: (-.2em);
}