[padding], [padded] {
    padding: var(--padding)
}

[block] {
    display: block;
}

[inline-block] {
    display: inline-block;
}

[absolute] {
    position: absolute;
}

[flex] {
    display: flex;
}

[flex-justify-content-center], [flex-justify-center] {
    display: flex;
    justify-content: center;
}

[flex-align-items-center], [flex-align-center] {
    display: flex;
    align-items: center;
}

[flex-center] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[flex-direction-column], [flex-column] {
    flex-direction: column;
}

[flex-direction-row], [flex-row] {
    flex-direction: row;
}

[flex-wrap-wrap], [flex-wrap] {
    flex-wrap: wrap;
}

[flex-wrap-nowrap], [flex-nowrap] {
    flex-wrap: nowrap;
}

[vh-100] {
    height: 100vh;
}

[max-w-800],[max-width-800] {
    max-width: 800px;
}

[disabled] {
    opacity: .65;
    user-select: none;
    pointer-events: none;
}

[center-self] {
    margin-left: auto;
    margin-right: auto;
}

[overflow] {
    overflow: auto;
}

[owl] > * + * {
	margin-top: var(--owl);
}

[noowl] {
	margin-top: calc(0 - var(--owl));
}

[bottom-left] {
    right: unset;
    top: unset;

    bottom: 0;
    left: 0;
}

[bottom-right] {
    left: unset;
    top: unset;

    bottom: 0;
    right: 0;
}

[top-left] {
    right: unset;
    bottom: unset;

    top: 0;
    left: 0;
}

[top-right] {
    left: unset;
    bottom: unset;

    top: 0;
    right: 0;
}