*, * * {
	margin: 0;
	padding: 0;
	position: relative;
        -webkit-box-sizing: inherit;
	box-sizing: inherit;
	max-width: 100%;
	line-height: 1.3;
}

*:focus-visible {
    box-shadow: inset 0 0 0 2px var(--focus);
}

/* lobotomized owl selector */
* + * {
	margin-top: var(--owl);
}	

html, body {
	color: var(--color);
	background: var(--background);
	margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-y: auto;
    font-size: calc(1em + var(--font-scaling));
	display: flex;
	width: 100%;
	height: 100%;
}

/* A fix for Electron */
head, script {
    display: none !important;
}
