button {
    color: var(--color);
    background-color: var(--background);
    min-width: 40px;
    padding: 8px;
    cursor: pointer;
    outline: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--accent);
    font-size: inherit;
}

button:hover {
    color: var(--background);
    background-color: var(--accent);
}

button img {
    height: 100%;
    width: 100%;
    margin: 0;
}

a {
	color: var(--accent);
	text-decoration: underline;
	font-family: inherit;
	display: inline-flex;
}

input {
    max-width: 100%;
    outline: 0;
    border: 0;
    padding: 4px;
    min-height: 8px;
    font-size: inherit;
}

footer {
    width: 100%;
}