:root {
	/* Global colors used through the whole project */
	--accent: rgb(145, 84, 202);
	--color: rgba(219, 219, 219, 0.88);
	--background: #1f1f22;

	/* Keyboard focus color */
	--focus: rgb(73, 251, 73);

	/* Global padding */
    --padding: 1rem;

	/* Lobotomized owl selector for margins between elements,
	   can be set to 0 if creates problems	*/
	--owl: 1rem;

	/* Addition (or substraction) to the global font size. 
	   Can be assigned negative values, although, it's not recommended since
	   it can make fonts-size-s below 0, thus making them invisible */
	--font-scaling: (0em);
}